.center {
    display: flex;
    justify-content: center;
    font-weight: bold;
}

h1 small {
    font-size: .3em;
    line-height: 1em;
    vertical-align: middle;
    margin-left: 1em;
}

.sub-section {
    margin-top: -0.5rem;
    margin-bottom: 1rem;
    opacity: 0.5;
}